@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/OpenSans.woff2') format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/OpenSans-700.woff2') format('woff2');
}

html {
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: rgba(100, 100, 125, 50%) rgba(0, 0, 0, 0);
  background-color: #000;
  color: #c6c6c6;
  font-family: OpenSans, sans-serif;
  min-height: 100dvh;
  accent-color: #8ab4f8;
}

body {
  padding: 1rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 125, 50%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #000;
  margin: 10px 0;
}

thead {
  background-color: rgba(100, 100, 125, 20%);
}

th,
td {
  padding: 4px 8px;
  border: 1px solid #000;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  font-weight: 700;
  color: #8ab4f8;
}

progress {
  width: 100%;
}

pre,
code {
  background: #383a59;
  color: #8be9fd;
  border-radius: 5px;
  padding: 2px 5px;
  white-space: pre-wrap;
}

li {
  margin-left: -1.4rem;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%, 0 1rem);
  transition: clip-path .4s;
  width: fit-content;
  height: fit-content;
  max-height: calc(100dvh - 4rem);
  margin: auto;
  line-height: 2;
  padding: 10px 1rem;
}

.note:hover,
.note:focus {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0)
}

.note:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 0 0 1rem;
  transition: transform .4s
}

.note:hover:after,
.note:focus:after {
  transform: translate(-100%, -100%)
}

.note .title {
  text-align: right;
  font-weight: 700;
  margin: 0 10px;
}

.note:after {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2)
}

.note .bottom-content {
  -webkit-user-select: none;
  user-select: none;
  margin-top: 5px;
  text-align: center;
}

.note .bottom-content i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.note .bottom-content span {
  font-size: .8rem;
  margin: 0 10px;
}

.note a {
  text-decoration: underline;
}

.note a:hover {
  text-decoration: none;
}

.note .details {
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-right: 5px;
  font-size: .9rem;
  font-weight: 700;
}

.Noir {
  background: #171717;
}

.Rouge {
  background: #fd948a;
}

.Orange {
  background: #ffc65c;
}

.Jaune {
  background: #fdf488;
}

.Vert {
  background: #d6fe9d;
}

.Cyan {
  background: #bbfdec;
}

.BleuCiel {
  background: #d2eff7;
}

.Bleu {
  background: #b4caf6;
}

.Violet {
  background: #d1acff;
}

.Rose {
  background: #fdd0e7;
}

.Rouge,
.Orange,
.Jaune,
.Vert,
.Cyan,
.BleuCiel,
.Bleu,
.Violet,
.Rose,
.Rouge a,
.Orange a,
.Jaune a,
.Vert a,
.Cyan a,
.BleuCiel a,
.Bleu a,
.Violet a,
.Rose a {
  color: #000;
}

.bottom-content i:hover {
  background: rgba(100, 100, 125, 20%);
}

.bottom-content i:focus {
  background: rgba(100, 100, 125, 50%);
}

.task-list-item {
  list-style-type: none;
  margin-left: -2.4rem;
}

footer {
  font-size: .8rem;
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  bottom: 1rem;
}

@media(max-width: 900px) {
  body {
    padding: 10px;
  }

  .details {
    font-size: .9rem;
  }
}
