$color1: #171717;
$color2: #272727;
$color3: #424242;
$color4: #c6c6c6;
$color5: #8ab4f8;
$color6: #9ec3ff;

@keyframes wave-animation {

  0%,
  100%,
  60% {
    transform: rotate(0)
  }

  10%,
  30% {
    transform: rotate(14deg)
  }

  20% {
    transform: rotate(-8deg)
  }

  40% {
    transform: rotate(-4deg)
  }

  50% {
    transform: rotate(10deg)
  }
}

@keyframes fadeInOut {

  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0
  }
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/OpenSans.woff2') format('woff2')
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/OpenSans-700.woff2') format('woff2')
}

html {
  background: $color1;
  color: $color4;
  accent-color: $color5;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: rgba(255, 255, 255, .1) rgba(0, 0, 0, 0);
  scrollbar-width: thin
}

* {
  font-family: "OpenSans";
  margin: 0;
  box-sizing: border-box
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .1)
}

h1 {
  font-size: 1.4rem;
  color: $color5
}

h2 {
  font-size: 1.2rem
}

h3 {
  font-size: 1.1rem
}

a {
  color: $color5;
  text-decoration: none;
  display: inline;
  font-weight: 700
}

p.title {
  color: $color5
}

kbd {
  background: $color2;
  border-radius: 5px;
  color: $color4;
  margin: 0 2px;
  font-size: .8rem;
  font-weight: 700;
  padding: 2px 4px
}

pre,
code {
  background: #383a59;
  color: #8be9fd;
  border-radius: 5px;
  padding: 2px 5px;
  white-space: pre-wrap;

  &::selection {
    color: #8be9fd;
    background: rgba(255, 255, 255, .1)
  }
}

li {
  margin-left: -1rem
}

img {
  max-width: 100%;
  border-radius: 1rem
}

nav {
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  position: fixed;
  background: $color2;
  color: $color4;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 2px 2px 4px $color1;

  h1 {
    display: inline-block
  }

  div {
    margin: 10px 2rem;
    display: inline-block
  }

  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    font-size: 1.4rem
  }

  .search-input {
    background: $color3;
    width: 300px;
    max-height: 40px;
    border-radius: 24px;
    display: inline-block;

    ::placeholder {
      color: $color4
    }

    i {
      font-size: 1rem;
      margin: 0 5px
    }

    input {
      font-size: 1rem;
      background: $color3;
      color: $color4;
      height: 40px;
      width: 180px;
      border: none;
      border-radius: 24px;
      margin-right: 5px;
      padding: 0 10px;

      &:focus {
        outline: 2px solid $color5
      }
    }
  }

  .copyright {
    font-size: .8rem
  }

  #iconButton {
    display: inline-block;
    padding: 0 1rem;
    margin: 0
  }

  #iconButtonFloat {
    display: none
  }

  #iconButtonConnect {
    display: inline-block;
    padding: 0 1rem;
    margin: 0
  }

  #iconButtonConnectFloat {
    display: none
  }
}

main {
  max-width: 100vw;
  margin: 8rem auto 2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem
}

label {
  vertical-align: middle
}

input,
textarea,
select {
  height: 50px;
  width: 100%;
  font-size: 1rem;
  padding: 0 1rem;
  color: $color4;
  border: 2px solid $color3;

  &:focus {
    outline: $color5 solid 2px
  }
}

select,
option {
  font-family: "Arial";
}

textarea {
  height: 250px;
  resize: none;
  padding: 10px
}

button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  color: $color1;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  background: $color5;
  transition: .2s;

  &:hover {
    background: $color6
  }

  &:disabled {
    background: $color4;
    cursor: not-allowed
  }
}

details {
  margin: 1rem;
  cursor: pointer;
}

p.welcome {
  font-size: 1.2rem;

  .nomUser {
    font-weight: 700;
    font-style: italic
  }
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 25px);
  transition: clip-path .5s;
  width: 400px;
  max-height: 460px;
  line-height: 2;
  padding: 30px 20px 10px;
  background: $color2;

  &:hover,
  &:focus {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    outline: none;

    .bottom-content {
      visibility: visible;
      opacity: 1
    }
  }

  &:after {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 0 0 1rem;
    transition: transform .4s
  }

  &:hover:after,
  &:focus:after {
    transform: translate(-100%, -100%)
  }

  &:focus-within {
    .bottom-content {
      visibility: visible;
      opacity: 1
    }
  }

  p.title {
    font-size: 1.4rem;
    text-align: right;
    font-weight: 700;
    margin: 4px 10px 1rem
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none
    }
  }

  .details {
    max-height: 400px;
    overflow-y: auto;
    overflow-wrap: break-word;
    overflow-x: hidden;
    padding-right: 5px
  }

  .bottom-content {
    -webkit-user-select: none;
    user-select: none;
    margin-top: 5px;
    padding: 5px 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;

    &:focus-within {
      opacity: 1;
      visibility: visible
    }

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0 4px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: .2s
    }

    span {
      font-size: .8rem;
      transition: .2s
    }
  }
}

.Noir {
  background: $color2
}

.Blanc {
  background: #ffffff
}

.Rouge {
  background: #ff7b7b
}

.Orange {
  background: #ff9b4f
}

.Jaune {
  background: #ffea64
}

.Vert {
  background: #89f17e
}

.Cyan {
  background: #7cffe7
}

.BleuCiel {
  background: #a0deff
}

.Bleu {
  background: #72a5e9
}

.Violet {
  background: #a99aff
}

.Rose {
  background: #ffa2ff
}

.Blanc,
.Rouge,
.Orange,
.Jaune,
.Vert,
.Cyan,
.BleuCiel,
.Rose,
.Bleu,
.Violet {
  scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, 0);
  scrollbar-width: thin;

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2)
  }

  ::selection {
    background: rgba(0, 0, 0, .2)
  }

  a,
  h1,
  p,
  span {
    color: $color1
  }

  .bottom-content {
    color: $color2;

    i {
      &:hover {
        background: rgba(0, 0, 0, .1)
      }

      &:active {
        background: rgba(0, 0, 0, .2)
      }
    }
  }
}

.Noir {
  ::selection {
    background: rgba(255, 255, 255, .2)
  }

  .bottom-content {
    span {
      color: $color4
    }

    i {
      color: $color4;

      &:hover {
        background: rgba(255, 255, 255, .1)
      }

      &:active {
        background: rgba(255, 255, 255, .2)
      }
    }
  }
}

.linkp,
.seconnecter {
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  color: $color5;

  &:hover {
    color: $color6
  }
}

.linkp {
  margin-left: 20px;
}

.svgPart {
  position: fixed;
  width: 700px;
  bottom: 0;
  z-index: -1;

  svg {
    fill: $color1
  }

  path,
  polyline {
    fill: $color1;
    stroke: $color3;
    stroke-width: 1
  }

  path {
    stroke-dasharray: 10, 5
  }
}

.content header i {
  color: $color4;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: .2s;

  &:hover {
    background: rgba(255, 255, 255, .1)
  }
}

.fullscreen {
  position: fixed;
  z-index: 3;
  width: 80vw;
  min-height: 80vh;
  top: 10%;

  .details {
    min-height: 70vh;
  }
}

.noscroll {
  overflow: hidden
}

.darken {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px)
}

.darken.show {
  display: block
}

.info {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;

  .tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $color5;

    &:hover .tooltiptext {
      visibility: visible
    }

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background: $color2;
      color: $color4;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 150%;
      left: 50%;
      margin-left: -60px;

      &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $color2 transparent
      }
    }
  }
}

.popup,
header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.popup .content,
input,
textarea,
select {
  background: $color2;
  border-radius: 5px
}

.couleurs {
  display: flex;
  justify-content: center;
  min-height: 30px;

  span {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border: 1px solid $color3;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s
  }

  span.selectionne {
    width: 26px;
    height: 26px
  }
}

.connect-box,
.connect-popup-box,
.creer-box,
.gestion-popup-box,
.popup-box {
  display: none;
  pointer-events: none;
  position: fixed;
  display: none;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    transform: translate(-50%, -50%)
  }
}

.connect-box.show,
.connect-popup-box.show,
.creer-box.show,
.gestion-popup-box.show,
.popup-box.show {
  display: flex;
  pointer-events: auto
}

.connect-box.show .popup,
.connect-popup-box.show .popup,
.creer-box.show .popup,
.gestion-popup-box.show .popup,
.popup-box.show .popup {
  display: flex;
  pointer-events: auto;
  transform: translate(-50%, -50%)
}

.content {
  min-width: 500px;

  header {
    padding: 20px
  }

  form {
    margin: 20px
  }
}

.row {
  margin-bottom: 20px
}

.rowTri {
  margin: 20px;
}

.switch {
  position: relative;
  margin-top: 8px;
  display: inline-block;
  width: 60px;
  height: 2rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus+.slider {
      box-shadow: 0 0 1px $color5
    }

    &:checked+.slider {
      background: $color5;

      &:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px)
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color4;
    transition: .2s;

    &:before {
      position: absolute;
      content: "";
      border-radius: 50%;
      height: 26px;
      width: 26px;
      left: 4px;
      top: 3px;
      background: #ffffff;
      transition: .2s
    }
  }
}

.check {
  position: relative;
  margin-left: -40px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  opacity: 0;

  &:checked+label svg g path {
    stroke-dashoffset: 0
  }
}

.path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400
}

.supprimerCompte {
  color: #fe7575
}

#errorNotification {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: #a93b3b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 999
}

#copyNotification {
  display: none;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  background: $color3;
  color: $color4;
  padding: 10px;
  border-radius: 5px
}

#copyNotification.show {
  display: block;
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out
}

.task-list-item {
  list-style-type: none;
  margin-left: -2rem;

  * {
    vertical-align: middle
  }
}

.lang {
  cursor: pointer;

  img {
    border-radius: 0;
    border: 1px solid $color4;
    vertical-align: middle
  }
}

@media(width <=992px) {

  nav {
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;

    div {
      margin: 10px 0;
      display: block
    }

    .icon,
    .iconConnect {
      position: absolute
    }

    .search-input {
      width: 80vw;
      max-width: 250px;

      input {
        width: 200px
      }
    }

    #iconButton,
    #iconButtonConnect {
      display: none
    }

    #iconButtonFloat,
    #iconButtonConnectFloat {
      position: fixed;
      bottom: 1.5rem;
      right: 1.5rem;
      width: 60px;
      height: 60px;
      font-size: 1.4rem;
      border-radius: 48px;
      box-shadow: 1px 1px 6px $color2;
      display: flex;
      justify-content: center;
      align-items: center
    }
  }

  main {
    margin-top: 10px;
    padding: 0 10px;
    gap: 10px;

    .info {
      margin: 10px 0
    }
  }

  textarea {
    height: 30vh
  }

  kbd {
    display: none
  }

  .svgPart {
    width: 85%
  }

  .note {
    width: 98vw;
    max-height: 300px;

    &:last-child {
      margin-bottom: 4rem;
    }

    .details {
      overflow-y: hidden;
    }
  }

  .fullscreen {
    min-height: calc(100vh - 6rem);
    top: 1rem;
    bottom: 5rem;

    .details {
      min-height: 75vh;
      overflow-y: auto;
    }
  }

  #copyNotification.show {
    display: none;
  }

  .couleurs span {
    margin: 0 4px;
  }

  .content form {
    margin: 10px
  }

  .popup {
    min-width: 98vw;
    max-width: 98vw;

    .content {
      min-width: 98vw;
      max-width: 98vw
    }
  }

  .note .bottom-content {
    i {
      margin: 0 2px
    }
  }
}
