$color1: #000000;
$color2: #171717;
$color3: #c6c6c6;
$color4: #ffffff;
$color5: #eeeeee;
$color6: #1c1936;
$color7: #272342;
$color8: #cecbe3;

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OpenSans.woff2') format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans-700.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: rgba(100, 100, 100, 50%) rgba(0, 0, 0, 0);
  font-family: OpenSans, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 50%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::placeholder {
  opacity: 1;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid $color1;
  margin: 10px 0;

  thead {
    background: rgba(100, 100, 100, 20%);
  }

  th,
  td {
    padding: 4px 8px;
    border: 1px solid $color1;
  }
}

a {
  text-decoration: none;
  font-weight: 700;
}

kbd {
  border-radius: 5px;
  margin: 0 2px;
  font-size: .8rem;
  font-weight: 700;
  padding: 2px 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 20%);
}

blockquote {
  border-left: 3px solid rgba(100, 100, 100, 50%);
  padding-left: 10px;
}

header {
  padding: 10px;

  .fa-xmark {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .1s;

    &:hover {
      background: rgba(100, 100, 100, 20%);
    }
  }
}

pre {
  margin: 10px auto;
}

pre,
code {
  background: #000000;
  color: #ffffff;
  border-radius: 4px;
  padding: 4px;
  white-space: break-spaces;
}

li {
  margin-left: -1.4rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#noscript {
  padding: 4px;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;

  h1 {
    display: none;
  }

  .log-in,
  .manage-account {
    font-size: 2rem;
  }

  div {
    margin: 10px 2rem;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }

  #divSearch {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding: 0 10px;

    &:focus-within {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 20%), 0 2px 6px 0 rgba(0, 0, 0, 20%);
    }

    i {
      font-size: 1rem;
      margin: 0 5px;
    }

    input {
      width: 180px;
      border: none;
      border-radius: 24px;
      padding: 0 10px;

      &:focus {
        outline: none;
      }
    }
  }

  #dot-connected {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0f0;
    margin-top: -15px;
  }

  #last-sync {
    font-size: .8rem;

    i {
      margin: 0 5px;
      cursor: pointer;
    }
  }
}

main {
  margin: 86px auto 2rem;
  padding: 0 2rem 0 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  user-select: none;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 382px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;

  #listNotes {
    flex-grow: 1;
    overflow-y: auto;

    p {
      margin: 5px 0;
      padding: 5px;
      border-radius: 0 1rem 1rem 0;
      font-size: .8rem;
      font-weight: 700;
      overflow: hidden;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
        background: rgba(100, 100, 100, 20%);

        .titleList {
          display: none;
        }

        .dateList {
          display: inline-flex;
        }
      }

      .category {
        background: rgba(100, 100, 100, 20%);
        padding: 4px 8px;
        margin: 0 8px 0 0;
        border-radius: 24px;
      }

      .titleList {
        display: inline-flex;
        align-items: baseline;
      }

      .dateList {
        display: none;
      }
    }
  }

  #close-sidebar {
    display: none;
  }

  button {
    margin: 1rem auto;
  }
}

#sidebar-indicator {
  position: fixed;
  height: 15vh;
  width: 4px;
  border-radius: 5px;
  background: rgba(100, 100, 100, 50%);
  left: 4px;
  top: 50%;
  transform: translate(-50%, -50%);
}

input {
  font-family: OpenSans, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
select {
  height: 50px;
  width: 100%;
  font-size: 1rem;
  padding: 0 1rem;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
  cursor: not-allowed;
  opacity: .6;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}

input[type="checkbox"] {
  pointer-events: none;
}

input[type="text"],
input[type="password"],
textarea {
  &:focus {
    outline: 2px solid rgba(100, 100, 100, 50%);
  }
}

.task-list-item input[type="checkbox"]:checked+label {
  text-decoration: line-through;
}

select,
option {
  font-family: Arial, sans-serif;
}

textarea {
  font-family: OpenSans, sans-serif;
  font-size: 1rem;
  height: 35vh;
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  resize: vertical;
  padding: 10px;
}

button {
  font-family: OpenSans, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 1rem;
  transition: .1s;

  &:disabled {
    cursor: not-allowed;
  }
}

form {
  margin: 10px 0;
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%, 0 1rem);
  transition: clip-path .4s;
  max-width: 50vw;
  line-height: 2;
  padding: 10px 1rem;

  &:hover,
  &:focus {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);

    .bottom-content {
      visibility: visible;
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 0 0 1rem;
    transition: transform .4s;
  }

  &:hover:after,
  &:focus:after {
    transform: translate(-100%, -100%);
  }

  &:focus-within .bottom-content {
    visibility: visible;
    opacity: 1;
  }

  .title {
    text-align: right;
    font-weight: 700;
    margin: 0 10px;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .details {
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 0 4px;
    font-size: .9rem;
    font-weight: 700;
  }

  .bottom-content {
    -webkit-user-select: none;
    user-select: none;
    margin-top: 5px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s;

    &:focus-within {
      opacity: 1;
      visibility: visible;
    }

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: .1s;

      &:hover {
        background: rgba(100, 100, 100, 20%);
      }
    }
  }
}

.linkp {
  cursor: pointer;
  font-weight: 700;
}

.body-fullscreen {
  overflow: hidden;
}

.fullscreen {
  position: fixed;
  z-index: 3;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  margin: auto;
  inset: 0;
  border-radius: 5px;

  .title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .details {
    max-height: 100%;
  }
}

.popup .content,
input,
textarea,
select,
button {
  border-radius: 10px;
}

#colors,
#accent-colors {
  display: flex;
  align-items: center;
  min-height: 30px;

  span {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s;
  }

  span.selected {
    width: 28px;
    height: 28px;
  }
}

#colors {
  justify-content: center;
}

#connect-box,
#create-box,
#manage-popup-box,
#settings-popup-box,
#public-note-popup-box,
#private-note-popup-box,
#note-popup-box,
#sort-popup-box,
#filter-popup-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .popup {
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    overflow-y: auto;
    transform: translate(-50%, -50%);
  }
}

#connect-box.show,
#create-box.show,
#manage-popup-box.show,
#settings-popup-box.show,
#note-popup-box.show,
#public-note-popup-box.show,
#private-note-popup-box.show,
#sort-popup-box.show,
#filter-popup-box.show {
  display: flex;
}

.content {
  width: 500px;
  max-width: 98vw;
  padding: 5px 1rem;
}

#note-popup-box .content {
  width: 900px;
}

.row {
  margin-bottom: 10px;
}

.category {
  margin: 2px 1px;
  display: inline-flex;

  span {
    padding: 4px 8px;
    border-radius: 24px;
    cursor: pointer;
  }

  input[type="radio"] {
    display: none;
  }
}

.switch {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: 4rem;
  height: 2rem;
  margin: 0 5px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.slider:before {
      left: 2rem;
    }

    &:disabled+.slider {
      cursor: not-allowed;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 2rem;
    inset: 0;

    &:before {
      position: absolute;
      content: "";
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 20%);
    }
  }
}

.version {
  text-align: right;
  font-size: .8rem;
  margin: 0 5px;
}

#newVersion {
  -webkit-user-select: none;
  user-select: none;
  border: 2px dashed rgba(100, 100, 100, 50%);
  text-align: center;
  border-radius: 1rem;
  margin: 10px 0;
  padding-bottom: 1.5rem;
  font-size: .9rem;

  header {
    padding: 4px;
    text-align: left;
  }

  p {
    margin: .5rem;
  }
}

#language {
  width: 50px;
  height: 40px;
  vertical-align: middle;
  padding: 0;
}

#textareaLength {
  font-size: .8rem;
}

#genPsswd {
  margin: 10px auto;

  input {
    margin: 10px auto;
    width: 65%;
  }
}

.delete-account {
  font-weight: 700;
  cursor: pointer;
}

#settings {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 1rem;
}

#legal,
#license {
  font-size: .8rem;
}

#successNotification,
#errorNotification {
  position: fixed;
  top: 1rem;
  right: 2rem;
  text-align: center;
  font-weight: 700;
  max-width: 320px;
  padding: 10px;
  border-radius: 5px;
  color: $color4;
  display: none;
  z-index: 999;
}

#successNotification {
  background: #1c7f1d;
}

#errorNotification {
  background: #a93b3b;
}

#copyNoteLink,
#psswdGen {
  display: inline-flex;
  width: 70%;
  margin: auto;
  border-radius: 20px;
  justify-content: center;
  padding: 10px;
  font-weight: 700;
  word-break: break-all;
}

#copyNoteLinkBtn,
#copyPasswordBtn,
#submitGenPsswd {
  display: inline-flex;
  width: 36px;
  height: 36px;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
}

#btnTheme {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  border-radius: 48px;

  &:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 20%), 0 2px 6px 0 rgba(0, 0, 0, 20%);
  }
}

#btnSort,
#btnFilter {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1.5rem;
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  border-radius: 48px;
  z-index: 2;

  &:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 20%), 0 2px 6px 0 rgba(0, 0, 0, 20%);
  }
}

#btnSort {
  top: 135px;
}

#btnFilter {
  top: 195px;
}

.task-list-item {
  margin-left: -2.4rem;
  pointer-events: none;
}

@media (min-width: 901px) {

  #iconFloatAdd,
  #sidebar-indicator {
    display: none;
  }
}

@media(max-width: 900px) {

  nav {
    position: fixed;
    margin: 0;

    div {
      margin: 10px 5px;
    }

    #divSearch {
      width: 60%;

      input {
        width: 80%;
        padding: 5px;
      }

      .linkp {
        margin: 0;
      }

      kbd {
        display: none;
      }
    }

    #last-sync {
      display: none;
    }
  }

  main {
    padding: 0 0 5rem;
    gap: 10px;
  }

  #iconFloatAdd {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sideBar {
    display: none;
    width: 95vw;
    margin: 0;
    top: 0;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 20%), 0 2px 6px 0 rgba(0, 0, 0, 20%);
    animation: slide-right .3s ease-in-out;

    button {
      display: none;
    }

    .titleList {
      max-width: 140px;
    }
  }

  #sideBar.show {
    display: flex;
    z-index: 3;
    animation: slide-left .3s ease-in-out;
  }

  .note {
    width: 100%;
    max-width: 100vw;
    max-height: 300px;
    margin: 0 10px;

    .bottom-content {
      visibility: visible;
      opacity: 1;
    }

    .title {
      font-size: 1.1rem;
    }

    .details {
      overflow: hidden;
    }
  }

  .fullscreen {
    min-height: 100vh;
    inset: auto;
    top: 0;

    .details {
      overflow: auto;
    }
  }

  #colors span,
  #accent-colors span {
    margin: 0 4px;
  }

  .bottom-content i {
    margin: 0 2px;
  }
}

html.dark {
  background: $color1;
  color: $color3;

  .accentBlue {
    accent-color: #8ab4f8;

    ::selection {
      background: #8ab4f8;
      color: #000000;
    }

    a,
    .linkp {
      color: #8ab4f8;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #8ab4f8;
    }
  }

  .accentGreen {
    accent-color: #8af8a4;

    ::selection {
      background: #8af8a4;
      color: #000000;
    }

    a,
    .linkp {
      color: #8af8a4;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #8af8a4;
    }
  }

  .accentYellow {
    accent-color: #f8f48a;

    ::selection {
      background: #f8f48a;
      color: #000000;
    }

    a,
    .linkp {
      color: #f8f48a;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #f8f48a;
    }
  }

  .accentPink {
    accent-color: #f68af8;

    ::selection {
      background: #f68af8;
      color: #000000;
    }

    a,
    .linkp {
      color: #f68af8;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #f68af8;
    }
  }

  .accentBlueSpan {
    background: #8ab4f8;
  }

  .accentGreenSpan {
    background: #8af8a4;
  }

  .accentYellowSpan {
    background: #f8f48a;
  }

  .accentPinkSpan {
    background: #f68af8;
  }

  ::placeholder {
    color: $color3;
  }

  kbd {
    background: $color2;
  }

  nav {
    background: $color2;

    #divSearch {
      background: $color1;

      input {
        background: $color1;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  #sideBar {
    background: $color2;
  }

  input,
  textarea,
  select {
    border: 2px solid $color1;
  }

  button {
    color: $color1;

    &:disabled {
      background: $color3;
    }
  }

  .popup .content,
  input,
  textarea,
  select {
    background: $color2;
    color: $color3;
  }

  #colors span,
  #accent-colors span {
    border: 1px solid $color1;
  }

  .Rouge,
  .Orange,
  .Jaune,
  .Vert,
  .Cyan,
  .BleuCiel,
  .Bleu,
  .Violet,
  .Rose {
    a {
      color: $color1;
    }
  }

  .Noir {
    background: $color2;
  }

  .category {
    span {
      background: $color1;
    }

    input[type="radio"]:checked+span {
      color: $color1;
    }
  }

  .switch {
    input:disabled+.slider:before {
      background: $color3;
    }

    .slider {
      background: $color1;

      &:before {
        background: $color4;
      }
    }
  }

  #note-popup-box,
  #create-box,
  #manage-popup-box,
  #settings-popup-box,
  #connect-box,
  #private-note-popup-box,
  #public-note-popup-box,
  #sort-popup-box,
  #filter-popup-box {
    background: rgba(0, 0, 0, 50%);
  }

  #noscript {
    background: #fe7575;
    color: $color1;
  }

  .warning,
  .linkp.warning {
    color: #fe7575;
  }

  #btnTheme {
    background: $color1;
    color: $color3;
  }

  #language {
    border: none;
    background: $color2;
  }

  #copyNoteLink,
  #psswdGen {
    background: $color1;
  }
}

html.dusk {
  background: $color7;
  color: $color8;

  .accentBlue {
    accent-color: #8ab4f8;

    ::selection {
      background: #8ab4f8;
      color: #000000;
    }

    a,
    .linkp {
      color: #8ab4f8;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #8ab4f8;
    }
  }

  .accentGreen {
    accent-color: #8af8a4;

    ::selection {
      background: #8af8a4;
      color: #000000;
    }

    a,
    .linkp {
      color: #8af8a4;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #8af8a4;
    }
  }

  .accentYellow {
    accent-color: #f8f48a;

    ::selection {
      background: #f8f48a;
      color: #000000;
    }

    a,
    .linkp {
      color: #f8f48a;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #f8f48a;
    }
  }

  .accentPink {
    accent-color: #f68af8;

    ::selection {
      background: #f68af8;
      color: #000000;
    }

    a,
    .linkp {
      color: #f68af8;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #f68af8;
    }
  }

  .accentBlueSpan {
    background: #8ab4f8;
  }

  .accentGreenSpan {
    background: #8af8a4;
  }

  .accentYellowSpan {
    background: #f8f48a;
  }

  .accentPinkSpan {
    background: #f68af8;
  }

  ::placeholder {
    color: $color8;
  }

  kbd {
    background: $color6;
  }

  nav {
    background: $color6;

    #divSearch {
      background: $color7;

      input {
        background: $color7;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  #sideBar {
    background: $color6;
  }

  input,
  textarea,
  select {
    border: 2px solid $color6;
  }

  button {
    color: $color7;

    &:disabled {
      background: $color8;
    }
  }

  .popup .content,
  input,
  textarea,
  select {
    background: $color7;
    color: $color8;
  }

  #colors span,
  #accent-colors span {
    border: 1px solid $color6;
  }

  .Rouge,
  .Orange,
  .Jaune,
  .Vert,
  .Cyan,
  .BleuCiel,
  .Bleu,
  .Violet,
  .Rose {
    a {
      color: $color7;
    }
  }

  .Noir {
    background: $color6;
  }

  .category {
    span {
      background: $color6;
    }

    input[type="radio"]:checked+span {
      color: $color1;
    }
  }

  .switch {
    input:disabled+.slider:before {
      background: $color3;
    }

    .slider {
      background: $color6;

      &:before {
        background: $color8;
      }
    }
  }

  #note-popup-box,
  #create-box,
  #manage-popup-box,
  #settings-popup-box,
  #connect-box,
  #private-note-popup-box,
  #public-note-popup-box,
  #sort-popup-box,
  #filter-popup-box {
    background: rgba(0, 0, 0, 50%);
  }

  #noscript {
    background: #fe7575;
    color: $color1;
  }

  .warning,
  .linkp.warning {
    color: #fe7575;
  }

  #btnTheme {
    background: $color7;
    color: $color8;
  }

  #language {
    border: none;
    background: $color6;
  }

  #copyNoteLink,
  #psswdGen {
    background: $color6;
  }
}

html.light {
  background: $color4;
  color: $color2;

  .accentBlue {
    accent-color: #2b5790;

    ::selection {
      background: #2b5790;
      color: #ffffff;
    }

    a,
    .linkp {
      color: #2b5790;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #2b5790;
    }
  }

  .accentGreen {
    accent-color: #146727;

    ::selection {
      background: #146727;
      color: #ffffff;
    }

    a,
    .linkp {
      color: #146727;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #146727;
    }
  }

  .accentYellow {
    accent-color: #a25c00;

    ::selection {
      background: #a25c00;
      color: #ffffff;
    }

    a,
    .linkp {
      color: #a25c00;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #a25c00;
    }
  }

  .accentPink {
    accent-color: #942796;

    ::selection {
      background: #942796;
      color: #ffffff;
    }

    a,
    .linkp {
      color: #942796;
    }

    button,
    .category input[type="radio"]:checked+span,
    .switch input:checked+.slider {
      background: #942796;
    }
  }

  .accentBlueSpan {
    background: #2b5790;
  }

  .accentGreenSpan {
    background: #146727;
  }

  .accentYellowSpan {
    background: #a25c00;
  }

  .accentPinkSpan {
    background: #942796;
  }

  ::placeholder {
    color: $color2;
  }

  kbd {
    background: $color5;
  }

  input,
  textarea,
  select {
    border: 2px solid $color3;
  }

  nav {
    background: $color5;

    #divSearch {
      background: $color4;

      input {
        background: $color4;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  #sideBar {
    background: $color5;
  }

  button {
    color: $color4;

    &:disabled {
      background: $color3;
      color: $color1;
    }
  }

  .popup .content,
  input,
  textarea,
  select {
    background: $color4;
    color: $color2;
  }

  #colors span,
  #accent-colors span {
    border: 1px solid $color3;
  }

  .Rouge,
  .Orange,
  .Jaune,
  .Vert,
  .Cyan,
  .BleuCiel,
  .Bleu,
  .Violet,
  .Rose {
    a {
      color: $color1;
    }
  }

  .Noir {
    background: $color5;
  }

  .category {
    span {
      background: $color5;
    }
  }

  .switch {
    input:disabled+.slider:before {
      background: $color3;
    }

    .slider {
      background: $color5;

      &:before {
        background: $color4;
      }
    }
  }

  #note-popup-box,
  #create-box,
  #manage-popup-box,
  #settings-popup-box,
  #connect-box,
  #private-note-popup-box,
  #public-note-popup-box,
  #sort-popup-box,
  #filter-popup-box {
    background: rgba(220, 220, 220, 50%);
  }

  #noscript {
    background: #a93b3b;
    color: $color4;
  }

  .warning,
  .linkp.warning {
    color: #a93b3b;
  }

  #copyNoteLink,
  #psswdGen {
    background: $color5;
  }

  #btnTheme {
    background: $color4;
    color: $color2;
  }

  #language {
    border: none;
    background: none;
  }
}

.note:after {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 20%);
}

.Rouge {
  background: #fd948a;
}

.Orange {
  background: #ffc65c;
}

.Jaune {
  background: #fdf488;
}

.Vert {
  background: #d6fe9d;
}

.Cyan {
  background: #bbfdec;
}

.BleuCiel {
  background: #d2eff7;
}

.Bleu {
  background: #b4caf6;
}

.Violet {
  background: #d1acff;
}

.Rose {
  background: #fdd0e7;
}

.Rouge,
.Orange,
.Jaune,
.Vert,
.Cyan,
.BleuCiel,
.Bleu,
.Violet,
.Rose {
  color: $color1;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}
