$color01: #000000;
$color02: #171717;
$color03: #c6c6c6;
$color04: #8ab4f8;
$color05: #9ec3ff;
$color06: #2b5790;
$color07: #34629f;
$color08: #ffffff;
$color09: #eeeeee;
$color10: #1c1936;
$color11: #272342;
$color12: #cecbe3;

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/OpenSans.woff2') format('woff2');
}

@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/OpenSans-700.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: rgba(100, 100, 125, 50%) rgba(0, 0, 0, 0);
  font-family: OpenSans, sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 125, 50%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::placeholder {
  opacity: 1;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid $color01;
  margin: 10px 0;

  thead {
    background-color: rgba(100, 100, 125, 20%);
  }

  th,
  td {
    padding: 4px 8px;
    border: 1px solid $color01;
  }
}

a {
  text-decoration: none;
  display: inline;
  word-wrap: break-word;
  font-weight: 700;
}

kbd {
  border-radius: 5px;
  margin: 0 2px;
  font-size: .8rem;
  font-weight: 700;
  padding: 2px 4px;
}

header {
  padding: 1rem;

  .fa-xmark {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .1s;

    &:hover {
      background: rgba(100, 100, 125, 20%);
    }
  }
}

pre,
code {
  background: #383a59;
  color: #8be9fd;
  border-radius: 5px;
  padding: 0 4px;
  white-space: pre-wrap;
}

li {
  margin-left: -1.4rem;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.noscript {
  padding: 5px;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;

  h1 {
    display: inline-block;

    i {
      font-size: 2rem;
    }
  }

  div {
    margin: 10px 2rem;
    display: inline-block;
    vertical-align: middle;
  }

  button {
    width: 200px;
  }

  .search-input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: inline-block;

    &:focus-within {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 20%), 0 2px 6px 0 rgba(0, 0, 0, 20%);
    }

    i {
      font-size: 1rem;
      margin: 0 5px;
    }

    input {
      width: 180px;
      border: none;
      border-radius: 24px;
      margin-right: 5px;
      padding: 0 10px;

      &:focus {
        outline: none;
      }
    }

    .manage-account,
    .log-in,
    .fa-bars {
      display: none;
      cursor: pointer;
    }
  }

  .lastSync {
    font-size: .8rem;

    i {
      margin: 0 5px;
      cursor: pointer;
    }
  }
}

main {
  max-width: 100vw;
  margin: 86px auto 2rem;
  padding: 0 2rem 0 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.sideBar {
  position: fixed;
  -webkit-user-select: none;
  user-select: none;
  background: $color02;
  left: 0;
  top: 70px;
  bottom: 0;
  width: 382px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;

  .listNotes {
    max-height: calc(100vh - 250px);
    overflow-y: scroll;
  }

  header {
    display: none;
  }

  button {
    margin: 1rem auto;
  }

  p {
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 0 1rem 1rem 0;
    font-size: .8rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(100, 100, 125, 20%);

      .dateList {
        display: inline-block;
      }
    }

    .titleList {
      max-width: 200px;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      font-weight: 700;
      vertical-align: bottom;
      margin-right: 5px;
    }

    .dateList {
      display: none;
      float: right;
    }
  }
}

input {
  font-family: OpenSans, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
select {
  height: 50px;
  width: 100%;
  font-size: 1rem;
  padding: 0 1rem;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
  cursor: not-allowed;
  opacity: .6;
}

input[type="checkbox"] {
  pointer-events: none;
}

input[type="radio"] {
  margin-right: 10px;
}

select,
option {
  font-family: Arial, sans-serif;
}

textarea {
  font-family: OpenSans, sans-serif;
  font-size: 1rem;
  height: 400px;
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  resize: vertical;
  padding: 10px;
}

button {
  font-family: OpenSans, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 1rem;
  transition: .1s;

  &:disabled {
    cursor: not-allowed;
  }
}

form {
  margin: 10px 0;
}

p.welcome {
  font-size: 1.2rem;
}

.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  clip-path: polygon(1rem 0, 100% 0, 100% 100%, 0 100%, 0 1rem);
  transition: clip-path .4s;
  width: 350px;
  line-height: 2;
  padding: 10px 1rem;

  &:hover,
  &:focus {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);

    .bottom-content {
      visibility: visible;
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 0 0 1rem;
    transition: transform .4s;
  }

  &:hover:after,
  &:focus:after {
    transform: translate(-100%, -100%);
  }

  &:focus-within {
    .bottom-content {
      visibility: visible;
      opacity: 1;
    }
  }

  .title {
    text-align: right;
    font-weight: 700;
    margin: 0 10px;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .details {
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 0 4px;
    font-size: .9rem;
    font-weight: 700;
  }

  .bottom-content {
    -webkit-user-select: none;
    user-select: none;
    margin-top: 5px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s;

    &:focus-within {
      opacity: 1;
      visibility: visible;
    }

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: .1s;

      &:hover {
        background: rgba(100, 100, 125, 20%);
      }
    }
  }
}

.linkp {
  cursor: pointer;
  font-weight: 700;
}

.fullscreen {
  position: fixed;
  z-index: 3;
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  inset: 0;
  border-radius: 5px;

  .title {
    text-align: center;
  }

  .details {
    max-height: 100%;
  }
}

.popup,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup .content,
input,
textarea,
select,
button {
  border-radius: 10px;
}

.colors {
  display: flex;
  justify-content: center;
  min-height: 30px;

  span {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s;
  }

  span.selectionne {
    width: 26px;
    height: 26px;
  }
}

.connect-box,
.create-box,
.manage-popup-box,
.public-note-popup-box,
.private-note-popup-box,
.note-popup-box,
.sort-popup-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .popup {
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    overflow-y: auto;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
}

.connect-box.show,
.create-box.show,
.manage-popup-box.show,
.note-popup-box.show,
.public-note-popup-box.show,
.private-note-popup-box.show,
.sort-popup-box.show {
  display: flex;
}

.connect-box.show .popup,
.create-box.show .popup,
.manage-popup-box.show .popup,
.note-popup-box.show .popup,
.public-note-popup-box.show .popup,
.private-note-popup-box.show .popup,
.sort-popup-box.show .popup {
  display: flex;
  max-height: 100vh;
  transform: translate(-50%, -50%);
}

.content {
  width: 500px;
  padding: 5px 1rem;
}

.note-popup-box .content {
  width: 900px;
}

.row {
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 2rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.slider {
      &:before {
        transform: translateX(26px);
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 2rem;
    inset: 0;

    &:before {
      position: absolute;
      content: "";
      border-radius: 50%;
      height: 26px;
      width: 26px;
      left: 4px;
      top: 3px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 20%);
      transition: .3s ease-in-out;
    }
  }
}

.version {
  text-align: right;
  font-size: .8rem;
  margin: 0 5px;
}

#newVersion {
  -webkit-user-select: none;
  user-select: none;
  width: 350px;
  height: 350px;
  border: 2px dashed rgba(100, 100, 125, 20%);
  text-align: center;
  border-radius: 1rem;

  h2 {
    font-size: 1.6rem;
    margin: 1.6rem auto;
  }

  p {
    margin: 3rem 1rem;
  }
}

#language {
  width: 50px;
  height: 40px;
  padding: 0;
}

#textareaLength {
  margin: 5px 0;
  font-size: .8rem;
}

#genPsswd {
  margin: 10px auto;

  input {
    margin: 10px auto;
    width: 65%;
  }

  button {
    margin: 10px auto;
    width: 15%;
  }
}

.delete-account {
  font-weight: 700;
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  font-size: .8rem;
}

#successNotification,
#errorNotification {
  position: fixed;
  top: 1rem;
  right: 2rem;
  text-align: center;
  font-weight: 700;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  color: $color08;
  display: none;
  z-index: 999;
}

#successNotification {
  background-color: #1c7f1d;
}
#errorNotification {
  background-color: #a93b3b;
}

#copyNotification {
  position: fixed;
  top: 1rem;
  right: 2rem;
  text-align: center;
  font-weight: 700;
  max-width: 125px;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 999;

  &.show {
    display: block;
  }
}

#copyNoteLink {
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  word-break: break-all;
  cursor: pointer;
}

#btnTheme {
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  border-radius: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .1s;

  &:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 20%), 0 2px 6px 0 rgba(0, 0, 0, 20%);
  }
}

#btnSort {
  position: fixed;
  top: 135px;
  right: 1.5rem;
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  border-radius: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: .1s;

  &:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 20%), 0 2px 6px 0 rgba(0, 0, 0, 20%);
  }
}

.task-list-item {
  list-style-type: none;
  margin-left: -2.4rem;
}

@media (min-width: 901px) {

  .iconFloat,
  .iconConnectFloat {
    display: none;
  }
}

@media(max-width: 900px) {

  nav {
    position: fixed;
    margin: 0;
    background: none;
    box-shadow: none;

    div {
      margin: 10px 0;
      display: block;
    }

    button.log-in,
    .welcome {
      display: none;
    }

    .icon,
    .iconConnect {
      position: absolute;
    }

    .search-input {
      width: 75%;

      input {
        width: 60%;
        padding: 5px;
      }

      .linkp {
        margin: 0;
      }

      .manage-account,
      .log-in,
      .fa-bars {
        display: inline;
        cursor: pointer;
      }

      i {
        vertical-align: middle;
        font-size: 1.8rem;
      }

      .fa-bars {
        font-size: 1.3rem;
      }

      .fa-magnifying-glass {
        display: none;
      }
    }

    .lastSync {
      display: none;
    }
  }

  main {
    padding: 0 0 5rem;
    gap: 10px;
  }

  .iconFloat,
  .iconConnectFloat {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
  }

  #iconButtonFloat,
  #iconButtonConnectFloat {
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  kbd {
    display: none;
  }

  .sideBar {
    display: none;
    width: 94vw;
    padding: 1rem;
    margin: 0;
    top: 0;
    border-radius: 0 1rem 1rem 0;
    animation: slide-right .3s ease-in-out;

    .listNotes {
      margin-top: 1rem;
    }

    header {
      display: flex;
    }

    button {
      display: none;
    }

    .titleList {
      max-width: 140px;
    }
  }

  .sideBar.show {
    display: block;
    z-index: 3;
    animation: slide-left .3s ease-in-out;
  }

  textarea {
    height: 45vh;
  }

  .note {
    width: 100%;
    max-height: 300px;
    margin: 0 10px;

    .bottom-content {
      visibility: visible;
      opacity: 1;
    }

    .title {
      font-size: 1.1rem;
    }

    .details {
      overflow: hidden;
    }
  }

  #newVersion {
    width: 100%;
    margin: 0 10px;
  }

  .fullscreen {
    min-height: 100vh;
    inset: auto;
    top: 0;

    .details {
      overflow: auto;
    }
  }

  .colors span {
    margin: 0 4px;
  }

  .popup {
    max-width: 98vw;
  }

  .bottom-content i {
    margin: 0 2px;
  }

  .lastSync {
    display: inline-flex;
  }

  .divTheme {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;

    #btnTheme {
      display: inline-flex;
    }
  }

  #copyNotification.show {
    display: none;
  }
}

html.dark {
  background: $color01;
  color: $color03;
  accent-color: $color04;

  ::placeholder {
    color: $color03;
  }

  a {
    color: $color04;
  }

  kbd {
    background: $color02;
  }

  nav {
    background: $color02;

    .search-input {
      background: $color01;

      input {
        background: $color01;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .sideBar {
    background: $color02;
  }

  input,
  textarea,
  select {
    border: 2px solid $color01;

    &:focus {
      outline: $color04 solid 2px;
    }
  }

  button {
    color: $color01;
    background: $color04;

    &:hover,
    &:focus {
      background: $color05;
    }

    &:disabled {
      background: $color03;
    }
  }

  .linkp {
    color: $color04;
  }

  .popup .content,
  input,
  textarea,
  select {
    background: $color02;
    color: $color03;
  }

  .colors span {
    border: 1px solid $color01;
  }

  .Rouge,
  .Orange,
  .Jaune,
  .Vert,
  .Cyan,
  .BleuCiel,
  .Bleu,
  .Violet,
  .Rose {
    a {
      color: $color01;
    }
  }

  .Noir {
    background-color: $color02;
  }

  .switch {
    input {

      &:checked+.slider {
        background: $color04;
      }
    }

    .slider {
      background: $color01;

      &:before {
        background: $color08;
      }
    }
  }

  .note-popup-box,
  .create-box,
  .manage-popup-box,
  .connect-box,
  .private-note-popup-box,
  .public-note-popup-box,
  .sort-popup-box {
    background: rgba(0, 0, 0, 50%);
  }

  .noscript {
    background-color: #fe7575;
    color: $color01;
  }

  .warning {
    color: #fe7575;
  }

  #btnTheme {
    background: $color01;
    color: $color03;
  }

  #language {
    border: none;
    background: $color02;
  }

  #copyNotification {
    background: $color01;
    color: $color03;
  }

  #copyNoteLink {
    background-color: $color01;

    &:hover {
      opacity: .8;
    }
  }
}

html.dusk {
  background: $color11;
  color: $color12;
  accent-color: $color04;

  ::placeholder {
    color: $color12;
  }

  a {
    color: $color04;
  }

  kbd {
    background: $color10;
  }

  nav {
    background: $color10;

    .search-input {
      background: $color11;

      input {
        background: $color11;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .sideBar {
    background: $color10;
  }

  input,
  textarea,
  select {
    border: 2px solid $color10;

    &:focus {
      outline: $color04 solid 2px;
    }
  }

  button {
    color: $color11;
    background: $color04;

    &:hover,
    &:focus {
      background: $color05;
    }

    &:disabled {
      background: $color12;
    }
  }

  .linkp {
    color: $color04;
  }

  .popup .content,
  input,
  textarea,
  select {
    background: $color11;
    color: $color12;
  }

  .colors span {
    border: 1px solid $color10;
  }

  .Rouge,
  .Orange,
  .Jaune,
  .Vert,
  .Cyan,
  .BleuCiel,
  .Bleu,
  .Violet,
  .Rose {
    a {
      color: $color11;
    }
  }

  .Noir {
    background-color: $color10;
  }

  .switch {
    input {

      &:checked+.slider {
        background: $color04;
      }
    }

    .slider {
      background: $color10;

      &:before {
        background: $color08;
      }
    }
  }

  .note-popup-box,
  .create-box,
  .manage-popup-box,
  .connect-box,
  .private-note-popup-box,
  .public-note-popup-box,
  .sort-popup-box {
    background: rgba(0, 0, 0, 50%);
  }

  .noscript {
    background-color: #fe7575;
    color: $color01;
  }

  .warning {
    color: #fe7575;
  }

  #btnTheme {
    background: $color11;
    color: $color12;
  }

  #language {
    border: none;
    background: $color10;
  }

  #copyNotification {
    background: $color11;
    color: $color12;
  }

  #copyNoteLink {
    background-color: $color10;

    &:hover {
      opacity: .8;
    }
  }
}

html.light {
  background: $color08;
  color: $color02;
  accent-color: $color06;

  ::placeholder {
    color: $color02;
  }

  a {
    color: $color06;
  }

  kbd {
    background: $color09;
  }

  input,
  textarea,
  select {
    border: 2px solid $color03;

    &:focus {
      outline: $color06 solid 2px;
    }
  }

  nav {
    background: $color09;

    .search-input {
      background: $color08;

      input {
        background: $color08;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .sideBar {
    background: $color09;
  }

  button {
    color: $color08;
    background: $color06;

    &:hover,
    &:focus {
      background: $color07;
    }

    &:disabled {
      background: $color03;
      color: $color01;
    }
  }

  .linkp {
    color: $color06;
  }

  .popup .content,
  input,
  textarea,
  select {
    background: $color08;
    color: $color02;
  }

  .colors span {
    border: 1px solid $color03;
  }

  .Rouge,
  .Orange,
  .Jaune,
  .Vert,
  .Cyan,
  .BleuCiel,
  .Bleu,
  .Violet,
  .Rose {
    a {
      color: $color01;
    }
  }

  .Noir {
    background-color: $color09;
  }

  .switch {
    input {

      &:checked+.slider {
        background: $color06;
      }
    }

    .slider {
      background: $color03;

      &:before {
        background: $color08;
      }
    }
  }

  .note-popup-box,
  .create-box,
  .manage-popup-box,
  .connect-box,
  .private-note-popup-box,
  .public-note-popup-box,
  .sort-popup-box {
    background: rgba(220, 220, 220, 50%);
  }

  .noscript {
    background-color: #a93b3b;
    color: $color08;
  }

  .warning {
    color: #a93b3b;
  }

  #copyNotification {
    background: $color08;
    color: $color02;
  }

  #copyNoteLink {
    background-color: $color09;

    &:hover {
      opacity: .8;
    }
  }

  #btnTheme {
    background: $color08;
    color: $color02;
  }

  #language {
    border: none;
    background: none;
  }
}

.note:after {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 20%);
}

.Rouge {
  background-color: #fd948a;
}

.Orange {
  background-color: #ffc65c;
}

.Jaune {
  background-color: #fdf488;
}

.Vert {
  background-color: #d6fe9d;
}

.Cyan {
  background-color: #bbfdec;
}

.BleuCiel {
  background-color: #d2eff7;
}

.Bleu {
  background-color: #b4caf6;
}

.Violet {
  background-color: #d1acff;
}

.Rose {
  background-color: #fdd0e7;
}

.Rouge,
.Orange,
.Jaune,
.Vert,
.Cyan,
.BleuCiel,
.Bleu,
.Violet,
.Rose {
  color: $color01;
}
